html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
    "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}
* {
  box-sizing: border-box;
}